body {
    margin: 0;
    font-family: Arial;
}

.menu-container {
    width: 220px;
    height: 100vh;
    background: #2c3e50;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.menu-vertical {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .menu-vertical li {
        margin-bottom: 10px;
    }

    .menu-vertical a {
        display: block;
        padding: 12px 20px;
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

        .menu-vertical a:hover {
            background: #34495e;
        }

.contenido {
    margin-left: 240px;
    padding: 20px;
}
